# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Informasjonsteknologi\OneDrive - OsloMet\2 ÅRET\Algoritmer&Datastrukturer\CODE\AlgDat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
